nav {
  display: flex;
  span {
    width: 25%;
    a {
      display: inline-block;
    }
  }
  ul {
    width: 75%;
    display : inline-block;
    margin: 0;
    text-align: right;
    li {
      display:inline-block;
      list-style: none;
      margin-right: 15px;
      cursor:pointer;
    }
  }
}